<html>
<head>
    <title>Twig Template! Hooray!</title>
    <style>
        body {
            font-family: "Courier New", monospace;
            font-size: 12px;
            text-align: right;
        }
    </style>
</head>
{{ name }}
<br>
This is a twig template!
</html>